# Required
INITRY_API_EXTERNAL_PORT=8000
INITRY_FRONTEND_EXTERNAL_PORT=3000
INITRY_GRPC_EXTERNAL_PORT=50051

# MongoDB URL and database name
MONGO_URL=mongodb://localhost:27017/
DATABASE_NAME=mydatabase

# Celery
BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/0
