# Required
INITRY_API_HOST=localhost
INITRY_API_EXTERNAL_PORT=8000
INITRY_FRONTEND_EXTERNAL_PORT=3000
INITRY_GRPC_EXTERNAL_PORT=50051
INITRY_BACKEND_CORS_LIST=["*"]

# MongoDB URL and database name
MONGO_URL=mongodb://localhost:27017/
DATABASE_NAME=mydatabase

# Celery
BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0
