/* HTML: <div class="loader"></div> */
.loader {
  height: 50px;
  aspect-ratio: 2;
  border: 10px solid #ffffff;
  box-sizing: border-box;
  background:
    radial-gradient(farthest-side, #000000 98%, #0000) left/20px 20px,
    radial-gradient(farthest-side, #000000 98%, #0000) left/20px 20px,
    radial-gradient(farthest-side, #000000 98%, #0000) center/20px 20px,
    radial-gradient(farthest-side, #000000 98%, #0000) right/20px 20px,
    #ffffff;
  background-repeat: no-repeat;
  filter: blur(4px) contrast(10);
  animation: l14 1s infinite;
}
@keyframes l14 {
  100% {
    background-position: right, left, center, right;
  }
}
